<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Rytx Meet</title>
        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,600" rel="stylesheet">
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="home.css">
    </head>
    <body>
        <div class="flex-center position-ref full-height">
            <div class="content">
                <div class="title m-b-md">
                    Rytx Meet
                </div>

                <div class="links">
                    <span id="JoinBtn">Join Meeting</span>
                    <a id="CreateBtn" href="/create">Create Meeting</a>
                </div>
            </div>
        </div>

        <!-- Join Modal -->
        <div id="join" class="modal">
        <!-- Join Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <h3>Join Meeting</h3>
            <div class="input">
                <form action="/join" method="GET">
                    <input type="text" class="code-input" name="name" placeholder="Name">
                    <input type="text" class="code-input" name="meeting-code" placeholder="Meeting Code">
                    &nbsp;
                    <input type="submit" value="Join" class="btn btn-primary">
                </form>
            </div>
        </div>


         <!-- Create Modal -->
        <div id="create" class="modal">
            <!-- Create Modal content -->
            <div class="modal-content">
                <span class="close">&times;</span>
                <h3>Join Meeting</h3>
                <div class="input">
                    <form action="/create" method="GET">
                        <input type="text" class="code-input" name="name" placeholder="Name">
                        &nbsp;
                        <input type="submit" value="Join" class="btn btn-primary">
                    </form>
                </div>
            </div>    
        </div>

        <script defer>
            // Join modal
            var joinModal = document.getElementById("join");
            // Get the button that opens the modal
            var join = document.getElementById("JoinBtn");
            // Get the <span> element that closes the modal

            var span = document.getElementsByClassName("close")[0];
            // When the user clicks on the button, open the modal

            join.onclick = function() {
                joinModal.style.display = "block";
            }
            create.onclick = function() {
                joinModal.style.display = "none";
            }
            // When the user clicks on <span> (x), close the modal
            span.onclick = function() {
                joinModal.style.display = "none";
            }
            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function(event) {
                if (event.target == joinModal) {
                    joinModal.style.display = "none";
                }
            }
        </script>
    </body>
</html>